.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  margin-top: 70px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.footer ul .icon {
  width: 25px;
  margin: 0px 20px;
}
