* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  text-align: center;
  margin-top: 5%;
  margin-bottom: auto;
}

.main h1 {
  font-size: 34px;
  text-transform: capitalize;
}

.title p {
  margin-top: 20px;
  text-transform: uppercase;
}

.box {
  margin: 50px 400px;
}

.box-item {
  background-color: rgba(255, 255, 255, 0.2);
}

.grid-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.box-item div {
  margin: 20px 40px;
  text-align: center;
}

.grid-container div .icon {
  width: 50x;
  height: 50px;
}

@media screen and (max-width: 600px) {
  footer{
      position: static;
        }
  nav{
      padding: 10px;
      font-size: 16px;
      text-align: center;
     }
} 